h1, h2, h3 {
  text-align: center;
}

.task-manager {
  margin: 1em auto;
  max-width: calc(100% - 4em);
  overflow: scroll;
}

.task-actions {
  margin: 0.5em 0;
}

.task-table {
  border: 1px solid
  rgba(224, 224, 224, 1);
}

.new-task-form .new-task-actions {
  padding: 2em;
}

.new-task-form .new-task-input{
  margin: 0.5em 0;
}

.task-table .MuiTableCell-root {
  padding: 0.25em 0.5em;
  border: 1px solid
  rgba(224, 224, 224, 1);
}

.task-table .MuiFormControlLabel-root {
  margin: 0;
}

.category {
  min-width: 12em;
  width: 12em;
}

.is-complete {
  min-width: 4em;
  width: 4em;
}

.description {
  min-width: 12em;
}

.assignee {
  min-width: 9em;
  width: 9em;
}

.estimated-time {
  min-width: 8em;
  width: 8em;
}

.actual-time {
  min-width: 6em;
  width: 6em;
}

.action {
  width: 3em;
}
